    $primary-text-color: #FFFFFF;
    $title-text-color-h: #212121;
    $title-text-color: #757575;
    $accent-color: #2196f3;
    
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
    *, *::before, *::after {
        box-sizing: inherit;
        } 
    